<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mx.itesm.thegoldenbook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_title"
        android:fullBackupContent="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <activity
            android:name=".ui.activities.GaleriaLibros"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.activities.Ayuda"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.activities.InfoUsuario"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.activities.VisualizarEsteLibro"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.activities.VisualizarLibros"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.activities.EditarEsteLibro"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.activities.EditarLibro"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.activities.CrearLibro"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name=".ui.activities.ActividadMenu2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name=".ui.activities.ActividadCrearCuenta"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name=".ui.activities.ActividadLogin"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name=".ui.activities.AlbumsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name=".ui.activities.ActividadMenu1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>